# Q1. What is a database? Differentiate between SQL and NoSQL databases.

DataBase is a systematic collection of data. They support electronic storage and manipulation of data. Databases make data management easy.

The main difference in SQL and NoSQL:
- SQL is a relational database whereas NoSQL database are primarily called as non-relational or distributed database. 
- SQL databases have fixed or static or predefined schema whereas NoSQL have dynamic schema.
- SQL databases are best suited for complex queries whereaas NoSQL databases are not so good for complex queries.
- SQL databases are vertically scalable whereas NoSQL are horizontally scalable.
- SQL Examples: MySQL, PostgreSQL, Oracle, MS-SQL Server, etc and NoSQL examples  MongoDB, GraphQL, HBase, Neo4j, Cassandra, etc

# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Data Definition Language(DDL) is a subset of SQL and a part of DBMS(Database Management System). DDL consist of Commands to commands like CREATE, ALTER, TRUNCATE and DROP. 

1. **CREATE**:
This command is used to create a new table in SQL.
Syntax:
```SQL
CREATE TABLE table_name
(
column_1 datatype,
column_2 datatype,
column_3 datatype,
....
);
```
Example:
```SQL
CREATE TABLE Student_info
(
College_Id number(2),
College_name varchar(30),
Branch varchar(10)
);
```

2. **DROP**:
This command is used to remove an existing table along with its structure from the Database.
Syntax:
```SQL
DROP TABLE table_name;
```
Example:
```SQL
DROP TABLE Student_info;
```

3. **ALTER**:
This command is used to add, delete or change columns in the existing table. The user needs to know the existing table name and can do add, delete or modify tasks easily.
Syntax:
```SQL
ALTER TABLE table_name
ADD column_name datatype;
```
Example:
```SQL
ALTER TABLE Student_info
ADD CGPA number;
```

4. **TRUNCATE**:
This command is used to remove all rows from the table, but the structure of the table still exists.
Syntax:
```SQL
TRUNCATE TABLE table_name;
```
Example:
```SQL
TRUNCATE TABLE Student_info;
```

# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

The structured query language (SQL) commands deal with the manipulation of data present in the database that belongs to the DML or Data Manipulation Language. This includes most of the SQL statements.
1. **INSERT**:
Insert command is used to insert data into a table.
```SQL
INSERT INTO <table_name> (column list) values (column values);
```
Example:
```SQL
INSERT INTO Employee(Emp_id, Emp_name) values (001, “ bhanu”);
INSERT INTO Employee(Emp_id, Emp_name) values (002, “ hari”);
INSERT INTO Employee(Emp_id, Emp_name) values (003, “ bob”);
```

2. **UPDATE**:
Update command is used to update existing data within a table.
Syntax:
```SQL
UPDATE <table_name> SET column_number =value_number WHERE condition;
```
Example:
```SQL
UPDATE Employee SET Emp_name= Ram WHERE Emp_id= 001;
```

3. **DELETE**:
Delete command is used to delete records from a database table.
Syntax:
```SQL
DELETE FROM <table_name>WHERE condition;
```
Example:
```SQL
DELETE FROM Employee WHERE Emp_id=002;
```

# Q4. What is DQL? Explain SELECT with an example.

An SQL SELECT statement retrieves records from a database table according to clauses (for example, FROM and WHERE) that specify criteria. The syntax is:
```SQL
SELECT column1, column2 FROM table1, table2 WHERE column2='value';
```
In the above SQL statement:

- The SELECT clause specifies one or more columns to be retrieved; to specify multiple columns, use a comma and a space between column names. To retrieve all columns, use the wild card * (an asterisk).
- The FROM clause specifies one or more tables to be queried. Use a comma and space between table names when specifying multiple tables.
- The WHERE clause selects only the rows in which the specified column contains the specified value. The value is enclosed in single quotes (for example, WHERE last_name='Vader').
- The semicolon (;) is the statement terminator. Technically, if you're sending only one statement to the back end, you don't need the statement terminator; if you're sending more than one, you need it. It's best practice to include it.

# Q5. Explain Primary Key and Foreign Key.

In a relational database, a primary key is a column or group of columns that uniquely identifies each row in a table. A primary key constraint is used to enforce this uniqueness, and it ensures that no two rows in a table have the same primary key value. Primary keys are crucial for identifying and relating data between tables.

A foreign key is a column or group of columns in one table that refers to the primary key of another table. It establishes a relationship between two tables by ensuring that the values in the foreign key column(s) correspond to values in the primary key column(s) of the referenced table. This relationship can be used to enforce data integrity rules, such as ensuring that only valid data is inserted into a table, and to join data from multiple tables.

In simple terms, a primary key is a unique identifier for each row in a table, while a foreign key is a reference to a primary key in another table that is used to establish a relationship between two tables.

# Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

To connect MySQL to Python, you need to use the MySQL Connector Python module. Here's an example code that connects to a MySQL database and prints the version of the MySQL server:

```python
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="yourdatabase"
)

print(mydb)

mycursor = mydb.cursor()

mycursor.execute("SELECT VERSION()")

data = mycursor.fetchone()

print("MySQL version: ", data)

```
In the code above, we first import the mysql.connector module and then use the connect() method to connect to a MySQL database. The host, user, password, and database parameters are used to specify the MySQL server details.

Next, we create a cursor object using the cursor() method of the database connection object. The cursor is used to execute SQL queries and fetch results.

We then use the execute() method of the cursor to execute a SQL query. In this case, we're executing the SELECT VERSION() query, which retrieves the version of the MySQL server.

Finally, we use the fetchone() method of the cursor to fetch the result of the query, which is then printed to the console.

The execute() method is used to execute a SQL query or a command in the MySQL database. The query or command can be specified as a string parameter to the method.

The cursor() method returns a cursor object, which is used to interact with the database. The cursor can be used to execute queries, fetch results, and perform other operations on the database.

# Q7. Give the order of execution of SQL clauses in an SQL query.

The order of execution of SQL clauses in an SQL query is as follows:

FROM: The FROM clause specifies the table or tables from which the data is to be selected.

WHERE: The WHERE clause is used to filter the data based on a specified condition or set of conditions.

GROUP BY: The GROUP BY clause is used to group the data based on one or more columns.

HAVING: The HAVING clause is used to filter the grouped data based on a specified condition or set of conditions.

SELECT: The SELECT clause is used to select the columns of data to be retrieved from the database.

ORDER BY: The ORDER BY clause is used to sort the data in ascending or descending order based on one or more columns.

LIMIT/OFFSET: The LIMIT and OFFSET clauses are used to limit the number of rows returned by the query and to specify the starting point of the result set.

It's important to note that not all of these clauses are required in every SQL query. The minimum required clauses for a valid SQL query are FROM and SELECT. The other clauses are optional and can be used as needed depending on the requirements of the query.